flows.json
[{"id":"2ff629767b586cfe","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"tab1","type":"tab","label":"todos","disabled":false,"info":""},{"id":"tabFav","type":"tab","label":"favicon","disabled":false},{"id":"8cfb185fa5135bfe","type":"tab","label":"Kullanıcı Yönetimi","disabled":false,"info":"","env":[]},{"id":"f0c0a111aaab0001","type":"tab","label":"Users API","disabled":false,"info":""},{"id":"f0c0a111aaab1001","type":"tab","label":"User UI","disabled":false,"info":""},{"id":"6276be3bae445313","type":"http in","z":"2ff629767b586cfe","name":"","url":"/","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":90,"y":100,"wires":[["74f99efc2b23cadf"]]},{"id":"fc64863bb139683c","type":"http response","z":"2ff629767b586cfe","name":"","statusCode":"","headers":{},"x":450,"y":100,"wires":[]},{"id":"74f99efc2b23cadf","type":"template","z":"2ff629767b586cfe","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!doctype html>\n<html lang=\"tr\">\n\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <title>Yapılacaklar Listesi</title>\n\n  <!-- Bootstrap -->\n  <link rel=\"stylesheet\" href=\"/vendor/bootstrap/bootstrap.min.css\">\n\n  <!-- SurveyJS -->\n  <link rel=\"stylesheet\" href=\"https://unpkg.com/survey-core@1.11.9/defaultV2.min.css\">\n  <script src=\"https://unpkg.com/jquery@3/dist/jquery.min.js\"></script>\n  <script src=\"https://unpkg.com/survey-jquery@1.11.9/survey.jquery.min.js\"></script>\n  <link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css\">\n  <script src=\"https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js\"></script>\n  <script src=\"https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js\"></script>\n\n  <!-- İkonlar -->\n  <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css\">\n\n  <style>\n    .truncate {\n      white-space: nowrap;\n      overflow: hidden;\n      text-overflow: ellipsis\n    }\n  \n    .table-fixed {\n      table-layout: fixed\n    }\n  \n    .tr-done {\n      color: #6c757d;\n      text-decoration: line-through\n    }\n  \n    .btn-group.btn-group-sm .btn {\n      padding-inline: .5rem\n    }\n  \n    /* SurveyJS modern tema renk/yuvarlaklık */\n    :root {\n      --sjs-primary-backcolor: #0d6efd;\n      --sjs-primary-forecolor: #ffffff;\n      --sjs-general-backcolor: #ffffff;\n      --sjs-general-forecolor: #1f2937;\n      --sjs-border-default: #e9ecef;\n      --sjs-corner-radius: 14px;\n      --sjs-shadow-small: 0 12px 28px rgba(16, 24, 40, .12);\n    }\n  \n    .modal-header.bg-primary {\n      background: linear-gradient(135deg, #0d6efd, #7aa6ff)\n    }\n  \n    .modal-header .modal-title i {\n      opacity: .9;\n      margin-right: .25rem\n    }\n  \n    #surveyHost .sv-container-modern,\n    #reminderHost .sv-container-modern {\n      box-shadow: var(--sjs-shadow-small);\n      border-radius: var(--sjs-corner-radius);\n      padding: .25rem .25rem 0\n    }\n  \n    .sv-btn {\n      border-radius: 10px !important;\n      padding: .625rem 1rem !important\n    }\n  \n    /* DataTables ufak rötuşlar */\n    .dataTables_wrapper .dataTables_filter input {\n      border-radius: 10px\n    }\n  \n    table.dataTable.table-hover>tbody>tr:hover>* {\n      background-color: #f8fbff !important\n    }\n  \n    table.dataTable thead th {\n      border-bottom: 1px solid #e9ecef\n    }\n    /* Floating Action Button (FAB) */\n    .fab{\n    position: fixed; right: 24px; bottom: 24px;\n    width: 56px; height: 56px; border-radius: 14px;\n    display: flex; align-items: center; justify-content: center;\n    text-decoration: none; font-size: 1.6rem;\n    color: #fff; background: #dc3545; /* kırmızı: kullanıcı */\n    box-shadow: 0 10px 22px rgba(16,24,40,.18);\n    transition: transform .15s ease, box-shadow .15s ease;\n    z-index: 1090; /* toast'ın üstünde kalsın */\n    }\n    .fab:hover{ transform: translateY(-2px); box-shadow: 0 14px 30px rgba(16,24,40,.25); }\n    .fab:active{ transform: translateY(0); }\n  </style>\n</head>\n\n<body>\n  <div class=\"container py-4\">\n    <!-- Üst bar -->\n    <div class=\"row mb-3\">\n      <div class=\"col-md-8 offset-md-2\">\n        <div class=\"input-group input-group-lg\">\n          <input id=\"newTitle\" type=\"text\" class=\"form-control\" placeholder=\"Bir şey yazın…\" aria-label=\"Yeni iş\">\n          <button id=\"btnClear\" class=\"btn btn-outline-secondary\" type=\"button\">Temizle</button>\n          <button id=\"btnAdd\" class=\"btn btn-primary\" type=\"button\">Ekle</button>\n        </div>\n      </div>\n    </div>\n\n    <!-- Liste -->\n    <div class=\"row\">\n      <div class=\"col-md-8 offset-md-2\">\n        <div class=\"border rounded-3 shadow-sm overflow-hidden\">\n          <div class=\"bg-dark text-white fw-bold px-3 py-2\">İş</div>\n          <div class=\"table-responsive\">\n            <table id=\"todoTable\" class=\"table table-hover m-0 align-middle\">\n              <thead>\n                <tr>\n                  <th>İş</th>\n                  <th style=\"width:180px;\">Eklendi</th>\n                  <th class=\"text-end\" style=\"width:240px;\">İşlem</th>\n                </tr>\n              </thead>\n            </table>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n  \n\n  <!-- SurveyJS Modal -->\n  <div class=\"modal fade\" id=\"formModal\" tabindex=\"-1\" aria-hidden=\"true\">\n    <div class=\"modal-dialog\">\n      <div class=\"modal-content border-0 shadow\">\n        <div class=\"modal-header bg-primary text-white\">\n          <h5 class=\"modal-title\" id=\"formTitle\">Form</h5>\n          <button type=\"button\" class=\"btn-close btn-close-white\" data-bs-dismiss=\"modal\"></button>\n        </div>\n        <div class=\"modal-body\">\n          <div id=\"surveyHost\"></div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <script src=\"/vendor/bootstrap/bootstrap.bundle.min.js\"></script>\n  <script>\n    // === Helpers ===\n    const api = '/todos';\n    const esc = s => String(s ?? '').replace(/[&<>\"']/g, m => ({'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[m]));\n    const isDone = t => [true,'true',1,'1'].includes(t?.completed);\n    const fmt = iso => {\n      if(!iso) return '';\n      const d = new Date(iso), p=n=>String(n).padStart(2,'0');\n      return `${p(d.getDate())}.${p(d.getMonth()+1)}.${d.getFullYear()} ${p(d.getHours())}:${p(d.getMinutes())}`;\n    };\n  \n    // === SurveyJS: ekle/düzenle ===\n    Survey.StylesManager.applyTheme('defaultV2');\n    const surveyJSON = {\n      showQuestionNumbers:'off', completedHtml:'', completeText:'Kaydet',\n      elements:[{name:'title', title:'Başlık', type:'text', isRequired:true, maxLength:120, placeholder:'Örn: Yoğurt al'}]\n    };\n  \n    function openSurvey({mode, initial}) {\n      document.getElementById('formTitle').textContent = mode==='create' ? 'Yeni İş' : 'İşi Düzenle';\n      const host = document.getElementById('surveyHost'); host.innerHTML='';\n      const model = new Survey.Model(surveyJSON);\n      if(initial?.title) model.data = { title: initial.title };\n  \n      model.onComplete.add(async (sender)=>{\n        const title = (sender.data?.title || '').trim();\n        if(!title) return;\n        if(mode==='create'){\n          await fetch(api,{method:'POST', headers:{'Content-Type':'application/json'}, body: JSON.stringify({title})});\n          document.getElementById('newTitle').value='';\n        }else{\n          await fetch(`${api}/${initial._id}`,{method:'PUT', headers:{'Content-Type':'application/json'}, body: JSON.stringify({title})});\n        }\n        bootstrap.Modal.getInstance(document.getElementById('formModal')).hide();\n        dt.ajax.reload(null,false);\n      });\n  \n      $(\"#surveyHost\").Survey({ model });\n      bootstrap.Modal.getOrCreateInstance(document.getElementById('formModal')).show();\n    }\n    function openSurveyCreate() {\n      const typed = document.getElementById('newTitle')?.value?.trim() || '';\n      openSurvey({mode:'create', initial:{title:typed}});\n    }\n    function openSurveyEdit(row) {\n      openSurvey({mode:'edit', initial:{_id: row._id, title: row?.title || ''}});\n    }\n  \n    // === SurveyJS: Hatırlatıcı modalı ===\n    function openReminder(row) {\n  const host = document.getElementById('surveyHost'); host.innerHTML='';\n  document.getElementById('formTitle').textContent = 'Hatırlatıcı';\n\n  const reminderJSON = {\n    showQuestionNumbers:'off',\n    completeText:'Başlat',\n    elements:[\n      {\n        name: 'type',\n        type: 'radiogroup',\n        title: 'Nasıl hatırlatayım?',\n        defaultValue: 'in',\n        isRequired: true,\n        choices: [\n        { value: 'in', text: 'Dakika sonra' },\n        { value: 'at', text: 'Belirli tarih/saat' }\n        ]\n      },\n      {name:'minutes', type:'text', inputType:'number', min:1, title:'Dakika', visibleIf:\"{type}='in'\", isRequired:true},\n      {name:'at', type:'text',inputType: 'datetime-local', title:'Tarih & saat', visibleIf:\"{type}='at'\", isRequired:true}\n    ]\n  };\n\n  const model = new Survey.Model(reminderJSON);\n\n  model.onComplete.add(sender=>{\n    const {type, minutes, at} = sender.data || {};\n    let delayMs = 0;\n    if(type==='in') delayMs = Math.max(0,(parseInt(minutes,10)||0)*60*1000);\n    if(type==='at') delayMs = Math.max(0,new Date(at).getTime()-Date.now());\n\n    bootstrap.Modal.getInstance(document.getElementById('formModal')).hide();\n    if(delayMs<=0){ showToast('Geçerli bir zaman girin.','danger'); return; }\n\n    // kuruldu bilgisini göster\n    showToast('Hatırlatıcı ayarlandı.','success');\n\n    // OS bildirimi varsa kullan, yoksa toast\n    setTimeout(()=>{\n      const msg = `⏰ Hatırlatma: ${row?.title || 'Göreviniz'}`;\n      if('Notification' in window){\n        if(Notification.permission==='granted'){ new Notification(msg); return; }\n        if(Notification.permission!=='denied'){\n          Notification.requestPermission().then(p=>{\n            if(p==='granted'){ new Notification(msg); } else { showToast(msg,'primary'); }\n          });\n          return;\n        }\n      }\n      showToast(msg,'primary');\n    }, delayMs);\n  });\n\n  $(\"#surveyHost\").Survey({ model });\n  bootstrap.Modal.getOrCreateInstance(document.getElementById('formModal')).show();\n}\n\n  \n    // === DataTables ===\n    const actionBtns = (t) => {\n      const done = isDone(t), id = t._id;\n      const edit   = `<button class=\"btn btn-info btn-sm text-white me-1\" data-act=\"edit\" data-id=\"${id}\" title=\"Düzenle\"><i class=\"bi bi-pencil-square\"></i></button>`;\n      const remind = `<button class=\"btn btn-secondary btn-sm me-1\" data-act=\"remind\" data-id=\"${id}\" title=\"Hatırlatıcı\"><i class=\"bi bi-bell\"></i></button>`;\n      const toggle = done\n        ? `<button class=\"btn btn-warning btn-sm me-1\" data-act=\"open\" data-id=\"${id}\" title=\"Aç\"><i class=\"bi bi-arrow-counterclockwise\"></i></button>`\n        : `<button class=\"btn btn-success btn-sm me-1\" data-act=\"done\" data-id=\"${id}\" title=\"Tamamla\"><i class=\"bi bi-check2\"></i></button>`;\n      const del    = `<button class=\"btn btn-danger btn-sm\" data-act=\"del\" data-id=\"${id}\" title=\"Sil\"><i class=\"bi bi-trash\"></i></button>`;\n      return edit + remind + toggle + del;\n    };\n  \n    const dt = $('#todoTable').DataTable({\n      ajax: { url: `${api}?ts=${Date.now()}`, dataSrc: '' },\n      columns: [\n        { data: null, render: (row)=>{\n            const t = esc(row.title ?? row.text ?? row.name ?? '');\n            const cls = isDone(row) ? 'text-muted text-decoration-line-through' : '';\n            return `<span class=\"${cls}\">${t || '<i class=\"text-muted\">başlık yok</i>'}</span>`;\n          }\n        },\n        { data: 'createdAt', render: d => `<span class=\"text-muted small\">${fmt(d)}</span>` },\n        { data: null, orderable:false, searchable:false, className:'text-end', render: actionBtns }\n      ],\n      order: [[1,'desc']],\n      language: { url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/tr.json' },\n      paging: true, searching: true, lengthChange: false\n    });\n  \n    // Tablo üstündeki butonlar\n    $('#todoTable').on('click','button[data-act]', async function(){\n      const act = this.dataset.act, id = this.dataset.id;\n      const row = dt.row($(this).closest('tr')).data();\n  \n      if(act==='edit')   return openSurveyEdit(row);\n      if(act==='remind') return openReminder(row);\n  \n      if(act==='del'){\n        if(!confirm('Bu kaydı silmek istiyor musunuz?')) return;\n        await fetch(`${api}/${id}`,{method:'DELETE'});\n      }\n      if(act==='done'){\n        await fetch(`${api}/${id}`,{method:'PUT', headers:{'Content-Type':'application/json'}, body: JSON.stringify({completed:true})});\n      }\n      if(act==='open'){\n        await fetch(`${api}/${id}`,{method:'PUT', headers:{'Content-Type':'application/json'}, body: JSON.stringify({completed:false})});\n      }\n      dt.ajax.reload(null,false);\n    });\n  \n    // Üst bar butonları\n    document.getElementById('btnAdd').onclick = openSurveyCreate;\n    document.getElementById('newTitle').addEventListener('keydown', e=>{\n      if(e.key==='Enter'){ e.preventDefault(); openSurveyCreate(); }\n    });\n    document.getElementById('btnClear').onclick = ()=>{\n      const i=document.getElementById('newTitle'); i.value=''; i.focus();\n    };\n    function showToast(text, variant='primary'){\n    const t = document.getElementById('reminderToast');\n    t.querySelector('#toastText').textContent = text || 'Hatırlatma';\n    t.className = `toast align-items-center text-white bg-${variant} border-0`;\n    bootstrap.Toast.getOrCreateInstance(t, { delay: 5000 }).show();\n    }\n  </script>\n  <!-- FAB: Kullanıcı Yönetimi -->\n  <a href=\"/user-list\" class=\"fab\" aria-label=\"Kullanıcı Yönetimi\" data-bs-toggle=\"tooltip\" title=\"Kullanıcı Yönetimi\">\n    <i class=\"bi bi-person-fill\"></i>\n  </a>\n  <script>\n    // FAB eklendikten sonra tooltip'i başlat\n    document.querySelectorAll('[data-bs-toggle=\"tooltip\"]').forEach(el=>{\n      try { bootstrap.Tooltip.getOrCreateInstance(el); } catch {}\n    });\n  </script>\n  <!-- Toast container -->\n  <div class=\"position-fixed bottom-0 end-0 p-3\" style=\"z-index:1080\">\n    <div id=\"reminderToast\" class=\"toast align-items-center text-white bg-primary border-0\" role=\"alert\"\n      aria-live=\"assertive\" aria-atomic=\"true\">\n      <div class=\"d-flex\">\n        <div class=\"toast-body\">\n          <i class=\"bi bi-bell me-2\"></i><span id=\"toastText\">Hatırlatma</span>\n        </div>\n        <button type=\"button\" class=\"btn-close btn-close-white me-2 m-auto\" data-bs-dismiss=\"toast\"></button>\n      </div>\n    </div>\n  </div>\n</body>\n\n</html>","output":"str","x":260,"y":100,"wires":[["fc64863bb139683c"]]},{"id":"hget","type":"http in","z":"tab1","name":"GET /todos","url":"/todos","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["fn_get"]]},{"id":"fn_get","type":"function","z":"tab1","name":"list","func":"let todos = flow.get('todos') || [];\nmsg.payload = todos;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":80,"wires":[["resp_json"]]},{"id":"resp_json","type":"http response","z":"tab1","name":"json","statusCode":"","headers":{"Content-Type":"application/json"},"x":540,"y":80,"wires":[]},{"id":"hpost","type":"http in","z":"tab1","name":"POST /todos","url":"/todos","method":"post","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["json_post"]]},{"id":"json_post","type":"json","z":"tab1","name":"parse json","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["fn_post"]]},{"id":"fn_post","type":"function","z":"tab1","name":"create","func":"// Sağlam POST: hem JSON hem form verisini destekler, farklı alan adlarını toplar\nlet todos = flow.get('todos') || [];\n\n// Gövdeyi yakala ve gerekiyorsa JSON parse et\nlet b = msg.payload;\nif (typeof b === 'string') {\n  try { b = JSON.parse(b); } catch (e) { b = {}; }\n}\nb = b || {};\n\n// Olası alan adları: title, text, name, task, value, (query param)\nconst title =\n  [b.title, b.text, b.name, b.task, b.value,\n   msg?.req?.query?.title].find(v => typeof v === 'string' && v.trim()) || '';\n\nconst id = Date.now().toString(36) + Math.random().toString(36).slice(2, 6);\nconst now = new Date().toISOString();\n\nconst item = {\n  _id: id,\n  title: title,\n  description: (b.description || '').toString(),\n  categories: Array.isArray(b.categories) ? b.categories\n             : (b.categories ? [b.categories] : []),\n  dueAt: b.dueAt || null,\n  completed: !!b.completed,\n  createdAt: now,\n  updatedAt: now\n};\n\ntodos.unshift(item);\nflow.set('todos', todos);\n\nmsg.statusCode = 201;\nmsg.payload = item;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":140,"wires":[["resp_json"]]},{"id":"hput","type":"http in","z":"tab1","name":"PUT /todos/:id","url":"/todos/:id","method":"put","upload":false,"swaggerDoc":"","x":130,"y":200,"wires":[["json_put"]]},{"id":"json_put","type":"json","z":"tab1","name":"parse json","property":"payload","action":"","pretty":false,"x":330,"y":200,"wires":[["fn_put"]]},{"id":"fn_put","type":"function","z":"tab1","name":"update","func":"// /todos/:id  → güncelle\nlet todos = flow.get('todos') || [];\nconst id = msg.req.params.id;\n\n// Gövdeyi güvenle al (JSON ya da string olabilir)\nlet b = msg.payload;\nif (typeof b === 'string') { try { b = JSON.parse(b); } catch { b = {}; } }\nb = b || {};\n\nconst i = todos.findIndex(t => t._id === id);\nif (i === -1) { \n  msg.statusCode = 404; \n  msg.payload = { error: 'not found' }; \n  return msg; \n}\n\n// Tür dönüştürücü\nconst toBool = v => (v === true || v === 'true' || v === 1 || v === '1');\n\n// Sadece gönderilen alanları yamala\nconst patch = {};\nif (Object.prototype.hasOwnProperty.call(b, 'title') && typeof b.title === 'string') {\n  patch.title = b.title;\n}\nif (Object.prototype.hasOwnProperty.call(b, 'completed')) {\n  patch.completed = toBool(b.completed);\n}\n\ntodos[i] = { ...todos[i], ...patch, updatedAt: new Date().toISOString() };\nflow.set('todos', todos);\n\nmsg.payload = todos[i];\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":200,"wires":[["resp_json"]]},{"id":"hdel","type":"http in","z":"tab1","name":"DELETE /todos/:id","url":"/todos/:id","method":"delete","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["fn_del"]]},{"id":"fn_del","type":"function","z":"tab1","name":"remove","func":"let todos = flow.get('todos') || [];\nconst id = msg.req.params.id;\nconst i = todos.findIndex(t=>t._id===id);\nif(i===-1){msg.statusCode=404;msg.payload={error:'not found'};return msg;}\ntodos.splice(i,1);\nflow.set('todos', todos);\nmsg.statusCode=204;\nmsg.payload='';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":260,"wires":[["resp_empty"]]},{"id":"resp_empty","type":"http response","z":"tab1","name":"empty 204","statusCode":"","headers":{},"x":740,"y":260,"wires":[]},{"id":"httpInFav","type":"http in","z":"tabFav","name":"GET /favicon.ico","url":"/favicon.ico","method":"get","upload":false,"swaggerDoc":"","x":150,"y":80,"wires":[["fn204"]]},{"id":"fn204","type":"function","z":"tabFav","name":"204 no content","func":"msg.statusCode=204;\nmsg.payload='';\nmsg.headers={'Cache-Control':'public, max-age=86400'};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["httpRespFav"]]},{"id":"httpRespFav","type":"http response","z":"tabFav","name":"res","statusCode":"","headers":{},"x":550,"y":80,"wires":[]},{"id":"4145ffa4cc2dd9e9","type":"http in","z":"8cfb185fa5135bfe","name":"","url":"/user-list","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":130,"y":80,"wires":[["5840d4520a742841"]]},{"id":"3f9970ed63429835","type":"http response","z":"8cfb185fa5135bfe","name":"","statusCode":"","headers":{},"x":450,"y":80,"wires":[]},{"id":"5840d4520a742841","type":"template","z":"8cfb185fa5135bfe","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!doctype html>\n<html lang=\"tr\">\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n    <title>Kullanıcı Yönetimi</title>\n\n    <!-- Bootstrap -->\n    <link rel=\"stylesheet\" href=\"/vendor/bootstrap/bootstrap.min.css\">\n\n    <!-- DataTables -->\n    <link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css\">\n    <script src=\"https://unpkg.com/jquery@3/dist/jquery.min.js\"></script>\n    <script src=\"https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js\"></script>\n    <script src=\"https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js\"></script>\n\n    <!-- SurveyJS -->\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/survey-core@1.11.9/defaultV2.min.css\">\n    <script src=\"https://unpkg.com/survey-jquery@1.11.9/survey.jquery.min.js\"></script>\n\n    <!-- Icons -->\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css\">\n\n    <style>\n        :root {\n            --sjs-primary-backcolor: #0d6efd;\n            --sjs-primary-forecolor: #fff;\n            --sjs-corner-radius: 14px;\n            --sjs-shadow-small: 0 12px 28px rgba(16, 24, 40, .12);\n        }\n\n        .modal-header.bg-primary {\n            background: linear-gradient(135deg, #0d6efd, #7aa6ff)\n        }\n\n        #surveyHost .sv-container-modern {\n            box-shadow: var(--sjs-shadow-small);\n            border-radius: var(--sjs-corner-radius);\n            padding: .25rem\n        }\n\n        .sv-btn {\n            border-radius: 10px !important;\n            padding: .625rem 1rem !important\n        }\n        /* Silme modalı için ufak makyaj */\n        .modal-header.bg-danger {\n        background: linear-gradient(135deg, #dc3545, #ff6b6b);\n        }\n        .modal-icon {\n        width: 42px; height: 42px; border-radius: 12px;\n        display:inline-flex; align-items:center; justify-content:center;\n        background:#fff2f2; color:#dc3545; font-size:1.25rem; margin-right:.5rem;\n        }\n        /* Floating Action Button (FAB) */\n        .fab{\n        position: fixed; right: 24px; bottom: 24px;\n        width: 56px; height: 56px; border-radius: 14px;\n        display: flex; align-items: center; justify-content: center;\n        text-decoration: none; font-size: 1.6rem;\n        color: #1f2937; background: #ffc107; /* sarı – liste */\n        box-shadow: 0 10px 22px rgba(16,24,40,.18);\n        transition: transform .15s ease, box-shadow .15s ease;\n        z-index: 1090;\n        }\n        .fab:hover{ transform: translateY(-2px); box-shadow: 0 14px 30px rgba(16,24,40,.25); }\n        .fab:active{ transform: translateY(0); }\n    </style>\n    \n</head>\n\n<body>\n    <div class=\"container py-4\">\n\n        <!-- ÜST ÇUBUK -->\n        <div class=\"row mb-3\">\n            <div class=\"col-md-10 offset-md-1\">\n                <div class=\"input-group input-group-lg\">\n                    <input id=\"fUsername\" class=\"form-control\" placeholder=\"Kullanıcı adı...\" />\n                    <input id=\"fPassword\" class=\"form-control\" type=\"password\" placeholder=\"Parola...\" />\n                    <input id=\"fEmail\"    class=\"form-control\" type=\"email\" placeholder=\"E-Posta...\" />\n                    <button id=\"btnClear\" class=\"btn btn-outline-secondary\">Temizle</button>\n                    <button id=\"btnAdd\"   class=\"btn btn-primary\">Ekle</button>\n                </div>\n            </div>\n        </div>\n\n        <!-- TABLO -->\n        <div class=\"row\">\n            <div class=\"col-md-10 offset-md-1\">\n                <div class=\"border rounded-3 shadow-sm overflow-hidden\">\n                    <div class=\"bg-dark text-white fw-bold px-3 py-2 d-flex align-items-center\">\n                        <span>Kullanıcılar</span>\n                    </div>\n                    <div class=\"table-responsive\">\n                        <table id=\"usersTable\" class=\"table table-hover m-0 align-middle\">\n                            <thead>\n                                <tr>\n                                    <th>Kullanıcı Adı</th>\n                                    <th>İsim Soyisim</th>\n                                    <th>E-Posta</th>\n                                    <th>Durum</th>\n                                    <th class=\"text-end\" style=\"width:240px\">İşlem</th>\n                                </tr>\n                            </thead>\n                        </table>\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <!-- SurveyJS Modal -->\n    <div class=\"modal fade\" id=\"formModal\" tabindex=\"-1\" aria-hidden=\"true\">\n        <div class=\"modal-dialog\">\n            <div class=\"modal-content border-0 shadow\">\n                <div class=\"modal-header bg-primary text-white\">\n                    <h5 class=\"modal-title\" id=\"formTitle\">Kullanıcı</h5>\n                    <button type=\"button\" class=\"btn-close btn-close-white\" data-bs-dismiss=\"modal\"></button>\n                </div>\n                <div class=\"modal-body\">\n                    <div id=\"surveyHost\"></div>\n                </div>\n            </div>\n        </div>\n    </div>\n    <!-- Silme Onayı Modal -->\n    <div class=\"modal fade\" id=\"confirmModal\" tabindex=\"-1\" aria-hidden=\"true\">\n        <div class=\"modal-dialog modal-dialog-centered\">\n            <div class=\"modal-content border-0 shadow\">\n                <div class=\"modal-header bg-danger text-white\">\n                    <div class=\"modal-icon\"><i class=\"bi bi-trash3\"></i></div>\n                    <h5 class=\"modal-title\">Kullanıcı silinsin mi?</h5>\n                    <button type=\"button\" class=\"btn-close btn-close-white\" data-bs-dismiss=\"modal\"></button>\n                </div>\n                <div class=\"modal-body\">\n                    <p class=\"mb-0\" id=\"confirmText\">\n                        Bu kullanıcı silinecek. Bu işlem <strong>geri alınamaz</strong>.\n                    </p>\n                </div>\n                <div class=\"modal-footer\">\n                    <button type=\"button\" class=\"btn btn-outline-secondary\" data-bs-dismiss=\"modal\">İptal</button>\n                    <button type=\"button\" class=\"btn btn-danger\" id=\"btnConfirmDelete\">\n              <i class=\"bi bi-trash3 me-1\"></i> Evet, sil\n            </button>\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <!-- Toast -->\n    <div class=\"position-fixed bottom-0 end-0 p-3\" style=\"z-index:1080\">\n        <div id=\"appToast\" class=\"toast align-items-center text-white bg-primary border-0\" role=\"alert\"\n            aria-live=\"assertive\" aria-atomic=\"true\">\n            <div class=\"d-flex\">\n                <div class=\"toast-body\"><i class=\"bi bi-bell me-2\"></i><span id=\"toastText\">Bilgi</span></div>\n                <button type=\"button\" class=\"btn-close btn-close-white me-2 m-auto\" data-bs-dismiss=\"toast\"></button>\n            </div>\n        </div>\n    </div>\n\n    <script src=\"/vendor/bootstrap/bootstrap.bundle.min.js\"></script>\n    <script>\n        const api = '/users';\n        let deleteCtx = { id: null, username: '' };\n        // --- yardımcılar ---\n        const esc = s => String(s ?? '').replace(/[&<>\"']/g, m => (\n          {'&':'&amp;','<':'&lt;','>':'&gt;','\"':'&quot;',\"'\":'&#39;'}[m]\n            ));\n            const fmt = iso => {\n            if (!iso) return '';\n            const d = new Date(iso), p=n=>String(n).padStart(2,'0');\n            return `${p(d.getDate())}.${p(d.getMonth()+1)}.${d.getFullYear()}\n            ${p(d.getHours())}:${p(d.getMinutes())}:${p(d.getSeconds())}`;\n            };\n        const toast = (text, tone='primary')=>{\n        const t = document.getElementById('appToast');\n        t.className = `toast align-items-center text-white bg-${tone} border-0`;\n        document.getElementById('toastText').textContent = text;\n        bootstrap.Toast.getOrCreateInstance(t,{delay:2500}).show();\n};\n\nSurvey.StylesManager.applyTheme('defaultV2');\n\nconst surveyJSON = (isNew)=>({\nshowQuestionNumbers:'off',\ncompletedHtml:'',\ncompleteText: isNew ? 'Oluştur' : 'Güncelle',\nelements:[\n{ name:'username', title:'Kullanıcı Adı', type:'text', isRequired:true, maxLength:40 },\n{ name:'fullName', title:'İsim Soyisim', type:'text', maxLength:80 },\n{ name:'email', title:'E-Posta', type:'text', inputType:'email', isRequired:true, validators:[{type:'email'}] },\n{ name:'password', title:'Parola', type:'text', inputType:'password',\nrequiredIf: isNew ? 'true' : 'false', description: isNew ? '' : 'Boş bırakırsanız parola değişmez.' },\n{ name:'isActive', title:'Durum', type:'radiogroup', defaultValue:true,\nchoices:[{value:true,text:'Aktif'},{value:false,text:'Pasif'}], isRequired:true },\n{\nname:'roles', title:'Rol', type:'radiogroup',\nchoices:['standart','yetkili'], defaultValue:['standart'],\nisRequired:true, maxSelectedChoices:1\n}\n]\n});\n\nfunction openForm(mode, row){\nconst isNew = (mode==='create');\ndocument.getElementById('formTitle').textContent = isNew ? 'Kullanıcı Oluştur' : 'Kullanıcıyı Düzenle';\nconst host = document.getElementById('surveyHost'); host.innerHTML='';\nconst model = new Survey.Model(surveyJSON(isNew));\n\n// CREATE: üst çubuktan gelen değerlerle ön doldur\n// EDIT: satır verisiyle doldur\nif(row){\nmodel.data = {\nusername: row.username || '',\nfullName: row.fullName || '',\nemail: row.email || '',\nisActive: row.isActive ?? true,\nroles: row.roles || ['standart'],\n...(isNew ? { password: row.password || '' } : {}) // create ise password alanını da doldur\n};\n}\n\nmodel.onComplete.add(async (s)=>{\nconst d = s.data || {};\ntry{\nif(isNew){\nawait fetch(api,{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(d)});\ntoast('Kullanıcı oluşturuldu','success');\n}else{\nawait fetch(`${api}/${row.id || row._id}`, {\nmethod:'PUT',\nheaders:{'Content-Type':'application/json'},\nbody: JSON.stringify(d)\n});\ntoast('Kullanıcı güncellendi','success');\n}\nbootstrap.Modal.getInstance(document.getElementById('formModal')).hide();\ndt.ajax.reload(null,false);\n}catch(e){ toast('İşlem başarısız','danger'); }\n});\n\n$(\"#surveyHost\").Survey({ model });\nbootstrap.Modal.getOrCreateInstance(document.getElementById('formModal')).show();\n}\n\n// DataTable\nconst actionBtns = (r) => {\nconst id = r.id || r._id;\nreturn [\n`<button class=\"btn btn-info btn-sm text-white me-1\" data-act=\"edit\" data-id=\"${id}\" aria-label=\"Düzenle\"><i class=\"bi bi-pencil-square\"></i></button>`,\n`<button class=\"btn btn-danger btn-sm\" data-act=\"del\" data-id=\"${id}\" aria-label=\"Sil\"><i class=\"bi bi-trash\"></i></button>`\n].join('');\n};\nfunction askDelete(row){\ndeleteCtx.id = row.id || row._id;\ndeleteCtx.username = row.username || '';\n\n// Modal içindeki uyarı metnini kişiselleştir\ndocument.getElementById('confirmText').innerHTML =\n`<strong>${deleteCtx.username || 'Kullanıcı'}</strong> silinecek. Bu işlem <strong>geri alınamaz</strong>.`;\n\nbootstrap.Modal.getOrCreateInstance(document.getElementById('confirmModal')).show();\n}\n\n// Modal'daki \"Evet, sil\" butonu\ndocument.getElementById('btnConfirmDelete').onclick = async (e)=>{\nconst modalEl = document.getElementById('confirmModal');\nconst modal = bootstrap.Modal.getInstance(modalEl);\nconst btn = e.currentTarget; btn.disabled = true;\n\ntry {\nawait fetch(`${api}/${deleteCtx.id}`, { method:'DELETE' });\ntoast('Kullanıcı silindi','success');\ndt.ajax.reload(null,false);\n} catch {\ntoast('Silme başarısız','danger');\n} finally {\nbtn.disabled = false;\nmodal.hide();\n}\n};\n\nconst dt = $('#usersTable').DataTable({\najax:{ url: api, dataSrc:'' },\ncolumns:[\n// Kullanıcı Adı sütunu — ikon + rozet + (varsa) tarih rozeti\n{ data:null, render:(row)=>{\nconst username = esc(row.username || '');\nconst roles = row.roles || []; // ['standart','yetkili'] bekliyoruz\nconst isAdmin = roles.includes('yetkili');\n\n// Bootstrap Icons'ta incognito yoksa 🕵️ fallback\nconst iconHTML = isAdmin\n? '<i class=\"bi bi-incognito me-2 text-warning fs-5\"></i>'\n: '<i class=\"bi bi-person me-2 text-muted\"></i>';\n\n// createdAt / created destekle\nconst createdISO = row.createdAt || row.created;\nconst created = createdISO\n? `<div class=\"mt-1\">\n  <span class=\"badge rounded-pill text-bg-secondary\">\n                 <i class=\"bi bi-calendar2 me-1\"></i>${fmt(createdISO)}\n               </span>\n</div>`\n: '';\n\nreturn `\n<div class=\"d-flex flex-column\">\n  <div class=\"d-flex align-items-center\">\n    ${iconHTML}\n    <strong>${username}</strong>\n    ${isAdmin ? '<span class=\"badge ms-2 bg-warning text-dark\">Yetkili</span>' : ''}\n  </div>\n  ${created}\n</div>`;\n}\n},\n\n// Diğer sütunlar\n{ data:'fullName', defaultContent:'' },\n{ data:'email', render:v => v ? `<a href=\"mailto:${esc(v)}\">${esc(v)}</a>` : '' },\n{ data:'isActive', render:v=> v\n? '<span class=\"badge bg-success\">Aktif</span>'\n: '<span class=\"badge bg-secondary\">Pasif</span>'\n},\n\n// İşlem butonları\n{\ndata: null,\norderable: false,\nsearchable: false,\nclassName: 'text-end',\nrender: actionBtns // <— sadece fonksiyon adını ver \n}\n],\norder:[[0,'asc']],\nlanguage:{ url:'https://cdn.datatables.net/plug-ins/1.13.4/i18n/tr.json' },\npaging:true, searching:true, lengthChange:false\n});\n\ndocument.getElementById('btnAdd').onclick = ()=>{\nopenForm('create', {\nusername: document.getElementById('fUsername').value.trim(),\nemail: document.getElementById('fEmail').value.trim(),\npassword: document.getElementById('fPassword').value\n});\n};\ndocument.getElementById('btnClear').onclick = ()=>{\n  ['fUsername','fPassword','fEmail'].forEach(id=>document.getElementById(id).value='');\n};\n\n// Satır butonları\n$('#usersTable').on('click','button[data-act]', function(){\nconst act = this.dataset.act;\nconst row = dt.row($(this).closest('tr')).data();\n\nif(act === 'edit') return openForm('edit', row);\nif(act === 'del') return askDelete(row); \n});\n    </script>\n  <!-- FAB: TODO listesine dön -->\n  <a href=\"/\" class=\"fab\" aria-label=\"Listeye dön\" data-bs-toggle=\"tooltip\" title=\"Listeye dön\">\n    <i class=\"bi bi-card-text\"></i>\n  </a>\n  <script>\n    // FAB eklendikten sonra tooltip'i başlat\n    document.querySelectorAll('[data-bs-toggle=\"tooltip\"]').forEach(el=>{\n      try { bootstrap.Tooltip.getOrCreateInstance(el); } catch {}\n    });\n  </script>\n</body>\n\n</html>","output":"str","x":300,"y":80,"wires":[["3f9970ed63429835"]]},{"id":"f0c0a111aaab0002","type":"http in","z":"f0c0a111aaab0001","name":"GET /users","url":"/users","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["f0c0a111aaab0006"]]},{"id":"f0c0a111aaab0003","type":"http in","z":"f0c0a111aaab0001","name":"POST /users","url":"/users","method":"post","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["f0c0a111aaab0006"]]},{"id":"f0c0a111aaab0004","type":"http in","z":"f0c0a111aaab0001","name":"PUT /users/:id","url":"/users/:id","method":"put","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["f0c0a111aaab0006"]]},{"id":"f0c0a111aaab0005","type":"http in","z":"f0c0a111aaab0001","name":"DELETE /users/:id","url":"/users/:id","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["f0c0a111aaab0006"]]},{"id":"f0c0a111aaab0006","type":"function","z":"f0c0a111aaab0001","name":"users-controller","func":"// Users Controller – bellek içi (global). İstersen contextStorage=file ile kalıcı yap.\nconst bcrypt = global.get('bcrypt');\nconst uuidv4 = global.get('uuidv4');\n\nif(!bcrypt || !uuidv4){\n    msg.statusCode = 500;\n    msg.payload = { error: 'bcrypt/uuid eksik. settings.js functionGlobalContext ve npm kurulumlarını kontrol et.' };\n    return msg;\n}\n\nlet users = global.get('users') || [];\n\nconst method = (msg.req && msg.req.method) || 'GET';\nconst params = (msg.req && msg.req.params) || {};\nconst body   = msg.payload || {};\nconst id     = params.id;\n\nconst publicUser = u => { const { passwordHash, ...rest } = u; return rest; };\n\n// GET /users\nif(method === 'GET' && !id){\n    msg.payload = users.map(publicUser);\n    return msg;\n}\n\n// POST /users  {username,email,password,fullName,isActive,roles}\nif(method === 'POST'){\n    const username = String(body.username||'').trim();\n    const email    = String(body.email||'').trim();\n    const password = String(body.password||'').trim();\n    if(!username || !email || !password){ msg.statusCode=400; msg.payload={error:'Eksik alan'}; return msg; }\n    if(users.some(u => u.username.toLowerCase() === username.toLowerCase())){\n        msg.statusCode=409; msg.payload={error:'Kullanıcı adı mevcut'}; return msg;\n    }\n    const user = {\n        id: uuidv4(),\n        username,\n        fullName: String(body.fullName||'').trim(),\n        email,\n        isActive: body.isActive !== false,\n        roles: Array.isArray(body.roles) ? body.roles : ['standart'],\n        passwordHash: bcrypt.hashSync(password, 10),\n        createdAt: new Date().toISOString()\n    };\n    users.unshift(user);\n    global.set('users', users);\n    msg.payload = publicUser(user);\n    return msg;\n}\n\n// PUT /users/:id\nif(method === 'PUT' && id){\n    const i = users.findIndex(u => u.id === id);\n    if(i < 0){ msg.statusCode=404; msg.payload={error:'Bulunamadı'}; return msg; }\n    const u = users[i];\n\n    if(body.username !== undefined) u.username = String(body.username).trim();\n    if(body.fullName !== undefined) u.fullName = String(body.fullName).trim();\n    if(body.email    !== undefined) u.email    = String(body.email).trim();\n    if(body.isActive !== undefined) u.isActive = !!body.isActive;\n    if(body.roles    !== undefined) u.roles    = Array.isArray(body.roles) ? body.roles : u.roles;\n    if(body.password) u.passwordHash = bcrypt.hashSync(String(body.password), 10);\n\n    users[i] = u; global.set('users', users);\n    msg.payload = publicUser(u);\n    return msg;\n}\n\n// DELETE /users/:id\nif(method === 'DELETE' && id){\n    const len = users.length;\n    users = users.filter(u => u.id !== id);\n    if(users.length === len){ msg.statusCode=404; msg.payload={error:'Bulunamadı'}; return msg; }\n    global.set('users', users);\n    msg.payload = { ok:true };\n    return msg;\n}\n\nmsg.statusCode = 405;\nmsg.payload = { error: 'Yöntem desteklenmiyor' };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":170,"wires":[["f0c0a111aaab0007"]]},{"id":"f0c0a111aaab0007","type":"http response","z":"f0c0a111aaab0001","name":"","statusCode":"","headers":{},"x":690,"y":170,"wires":[]},{"id":"f0c0a111aaab1002","type":"http in","z":"f0c0a111aaab1001","name":"GET /user-list","url":"/user-list","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["f0c0a111aaab1003"]]},{"id":"f0c0a111aaab1003","type":"template","z":"f0c0a111aaab1001","name":"User List Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!doctype html>\n<html lang=\"tr\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <title>Kullanıcı Yönetimi</title>\n  <link rel=\"stylesheet\" href=\"/vendor/bootstrap/bootstrap.min.css\">\n  <link rel=\"stylesheet\" href=\"https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css\">\n  <script src=\"https://unpkg.com/jquery@3/dist/jquery.min.js\"></script>\n  <script src=\"https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js\"></script>\n  <script src=\"https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js\"></script>\n  <link rel=\"stylesheet\" href=\"https://unpkg.com/survey-core@1.11.9/defaultV2.min.css\">\n  <script src=\"https://unpkg.com/survey-jquery@1.11.9/survey.jquery.min.js\"></script>\n  <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css\">\n  <style>\n    :root{ --sjs-primary-backcolor:#0d6efd; --sjs-primary-forecolor:#fff; --sjs-corner-radius:14px; --sjs-shadow-small:0 12px 28px rgba(16,24,40,.12); }\n    .modal-header.bg-primary{ background:linear-gradient(135deg,#0d6efd,#7aa6ff) }\n    #surveyHost .sv-container-modern{ box-shadow:var(--sjs-shadow-small); border-radius:var(--sjs-corner-radius); padding:.25rem }\n    .sv-btn{ border-radius:10px!important; padding:.625rem 1rem!important }\n  </style>\n</head>\n<body>\n<div class=\"container py-4\">\n  <div class=\"row mb-3\">\n    <div class=\"col-md-10 offset-md-1\">\n      <div class=\"input-group input-group-lg\">\n        <input id=\"fUsername\" class=\"form-control\" placeholder=\"Kullanıcı adı...\" />\n        <input id=\"fPassword\" class=\"form-control\" type=\"password\" placeholder=\"Parola...\" />\n        <input id=\"fEmail\"    class=\"form-control\" type=\"email\" placeholder=\"E-Posta...\" />\n        <button id=\"btnClear\" class=\"btn btn-outline-secondary\">Temizle</button>\n        <button id=\"btnAdd\"   class=\"btn btn-primary\">Ekle</button>\n      </div>\n    </div>\n  </div>\n  <div class=\"row\">\n    <div class=\"col-md-10 offset-md-1\">\n      <div class=\"border rounded-3 shadow-sm overflow-hidden\">\n        <div class=\"bg-dark text-white fw-bold px-3 py-2 d-flex align-items-center\">\n          <span>Kullanıcılar</span>\n          <a class=\"ms-auto small text-white-50 text-decoration-none\" href=\"/\">← Listeye dön</a>\n        </div>\n        <div class=\"table-responsive\">\n          <table id=\"usersTable\" class=\"table table-hover m-0 align-middle\">\n            <thead>\n              <tr>\n                <th>Kullanıcı Adı</th>\n                <th>İsim Soyisim</th>\n                <th>E-Posta</th>\n                <th>Durum</th>\n                <th class=\"text-end\" style=\"width:240px\">İşlem</th>\n              </tr>\n            </thead>\n          </table>\n        </div>\n      </div>\n    </div>\n  </div>\n</div>\n\n<div class=\"modal fade\" id=\"formModal\" tabindex=\"-1\" aria-hidden=\"true\">\n  <div class=\"modal-dialog\"><div class=\"modal-content border-0 shadow\">\n    <div class=\"modal-header bg-primary text-white\">\n      <h5 class=\"modal-title\" id=\"formTitle\">Kullanıcı</h5>\n      <button type=\"button\" class=\"btn-close btn-close-white\" data-bs-dismiss=\"modal\"></button>\n    </div>\n    <div class=\"modal-body\"><div id=\"surveyHost\"></div></div>\n  </div></div>\n</div>\n\n<div class=\"position-fixed bottom-0 end-0 p-3\" style=\"z-index:1080\">\n  <div id=\"appToast\" class=\"toast align-items-center text-white bg-primary border-0\" role=\"alert\" aria-live=\"assertive\" aria-atomic=\"true\">\n    <div class=\"d-flex\">\n      <div class=\"toast-body\"><i class=\"bi bi-bell me-2\"></i><span id=\"toastText\">Bilgi</span></div>\n      <button type=\"button\" class=\"btn-close btn-close-white me-2 m-auto\" data-bs-dismiss=\"toast\"></button>\n    </div>\n  </div>\n</div>\n\n<script src=\"/vendor/bootstrap/bootstrap.bundle.min.js\"></script>\n<script>\nconst api = '/users';\nconst toast = (text,tone='primary')=>{ const t=document.getElementById('appToast'); t.className=`toast align-items-center text-white bg-${tone} border-0`; document.getElementById('toastText').textContent=text; bootstrap.Toast.getOrCreateInstance(t,{delay:2500}).show(); };\n\nSurvey.StylesManager.applyTheme('defaultV2');\nconst surveyJSON = (isNew)=>({\n  showQuestionNumbers:'off', completedHtml:'', completeText: isNew? 'Oluştur':'Güncelle',\n  elements:[\n    {name:'username', title:'Kullanıcı Adı', type:'text', isRequired:true, maxLength:40},\n    {name:'fullName', title:'İsim Soyisim', type:'text', maxLength:80},\n    {name:'email',    title:'E-Posta', type:'text', inputType:'email', isRequired:true, validators:[{type:'email'}]},\n    {name:'password', title:'Parola', type:'text', inputType:'password', requiredIf: isNew? 'true':'false', description: isNew? '':'Boş bırakırsanız parola değişmez.'},\n    {name:'isActive', title:'Durum', type:'radiogroup', defaultValue:true, choices:[{value:true,text:'Aktif'},{value:false,text:'Pasif'}], isRequired:true},\n    {name:'roles', title:'Roller', type:'checkbox', choices:['standart','yetkili'], defaultValue:['standart']}\n  ]\n});\n\nfunction openForm(mode,row){\n  const isNew = (mode==='create');\n  document.getElementById('formTitle').textContent = isNew? 'Kullanıcı Oluştur':'Kullanıcıyı Düzenle';\n  const host = document.getElementById('surveyHost'); host.innerHTML='';\n  const model = new Survey.Model(surveyJSON(isNew));\n  if(!isNew && row){ model.data = { username:row.username, fullName:row.fullName, email:row.email, isActive:!!row.isActive, roles:row.roles||['standart'] }; }\n  model.onComplete.add(async s=>{\n    const d=s.data||{};\n    try{\n      if(isNew){ await fetch(api,{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(d)}); toast('Kullanıcı oluşturuldu','success'); }\n      else{ await fetch(`${api}/${row.id}`,{method:'PUT',headers:{'Content-Type':'application/json'},body:JSON.stringify(d)}); toast('Kullanıcı güncellendi','success'); }\n      bootstrap.Modal.getInstance(document.getElementById('formModal')).hide(); dt.ajax.reload(null,false);\n    }catch{ toast('İşlem başarısız','danger'); }\n  });\n  $(\"#surveyHost\").Survey({ model });\n  bootstrap.Modal.getOrCreateInstance(document.getElementById('formModal')).show();\n}\n\nconst actionBtns = r => [\n  `<button class=\"btn btn-info btn-sm text-white me-1\" data-act=\"edit\" data-id=\"${r.id}\"><i class=\"bi bi-pencil-square\"></i></button>`,\n  `<button class=\"btn btn-danger btn-sm\" data-act=\"del\" data-id=\"${r.id}\"><i class=\"bi bi-trash\"></i></button>`\n].join('');\n\nconst dt = $('#usersTable').DataTable({\n  ajax:{ url: api, dataSrc:'' },\n  columns:[\n    { data:'username' },\n    { data:'fullName', defaultContent:'' },\n    { data:'email' },\n    { data:'isActive', render:v=> v? '<span class=\"badge bg-success\">Aktif</span>' : '<span class=\"badge bg-secondary\">Pasif</span>' },\n    { data:null, orderable:false, searchable:false, className:'text-end', render: actionBtns }\n  ],\n  order:[[0,'asc']],\n  language:{ url:'https://cdn.datatables.net/plug-ins/1.13.4/i18n/tr.json' },\n  paging:true, searching:true, lengthChange:false\n});\n\ndocument.getElementById('btnAdd').onclick = ()=>{\n  openForm('create',{ username:document.getElementById('fUsername').value.trim(), email:document.getElementById('fEmail').value.trim() });\n};\ndocument.getElementById('btnClear').onclick = ()=>{ ['fUsername','fPassword','fEmail'].forEach(id=>document.getElementById(id).value=''); };\n\n$('#usersTable').on('click','button[data-act]', async function(){\n  const act=this.dataset.act, id=this.dataset.id; const row=dt.row($(this).closest('tr')).data();\n  if(act==='edit') return openForm('edit',row);\n  if(act==='del'){ if(!confirm('Kullanıcı silinsin mi?')) return; await fetch(`${api}/${id}`,{method:'DELETE'}); dt.ajax.reload(null,false); }\n});\n</script>\n</body>\n</html>","x":380,"y":100,"wires":[["f0c0a111aaab1004"]]},{"id":"f0c0a111aaab1004","type":"http response","z":"f0c0a111aaab1001","name":"","statusCode":"","headers":{},"x":640,"y":100,"wires":[]}]